.eunit
*.o
*.beam
*.plt
erl_crash.dump
.concrete/DEV_MODE

# rebar 2.x
.rebar
rel/example_project
ebin/*.beam
deps

# rebar 3
.rebar3
_build/
_checkouts/
*.DS_Store
Assignment 1.zip
Assignment 2.zip
Assignment 3.zip
Assignment 3/test.erl
